<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>


<p>
  <strong>Contribution:</strong>
  <%= @user.comments.all.count %>
</p>

  <strong>Medal</strong>
  <ul>
    <ol>Gold:<%= @user.medal.gold %></ol>
    <ol>Silver:<%= @user.medal.silver %></ol>
    <ol>Bronze:<%= @user.medal.bronze %></ol>
 </ul>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
