<p id="notice"><%= notice %></p>

<p>
  <strong>Country:</strong>
  <%= @demand.country %>
  <strong>Gender:</strong>
  <%= @demand.gender %>
  <strong>Age:</strong>
  <%= @demand.age %>
  <strong>Price:</strong>
  <%= @demand.price %>
  <strong>Purpose:</strong>
  <%= @demand.purpose %>
  <strong>Type:</strong>
  <%= @demand.category %>
  <strong>Describe:</strong>
  <%= @demand.describe %>
  <strong>Other:</strong>
  <%= @demand.other %>
</p>


<p>


<% if !@comments.nil? %>
  <% @comments.each do  |i|%>
    <p><%= i.post %> by <%= link_to i.user.name, user_path(i.user.id) %></p>
    <%#<%= @comments.find_by_followed_id(i).map {|a| a.user.name} %>
    <%#<ul>
    <%#  <li><%= link_to 'gold', demand_add_one_path(@demand, id: @demand.id, sort: "gold"), remote: true %>
    <%#  <li><%= link_to 'silver', demand_add_one_path(@demand, id: @demand.id, sort: "silver") %>
    <%#  <li><%= link_to 'bronze', demand_add_one_path(@demand, id: @demand.id, sort: "bronze") %>
    <%#</ul> %>
  <% end %>
<% end %>

<% if @user.user_type == 'retailer'%>
  <section>
  <%= form_for([@demand, @comment]) do |f| %>
    <div class="field">
      <%= f.text_area :post, placeholder: "Leave your comment here" %>
    </div>
    <div class="field">
      <%= f.text_area :url, placeholder: "any recommended website?" %>
    </div>
    <div class="field">
      <%= f.text_area :question, placeholder: "anything you wanna ask?" %>
    </div>
    <%= f.submit "post", class: 'btn btn-large btn-primary', remote: true %>
  <% end %>
  </section>
<% end%>


<%= link_to 'Edit', edit_demand_path(@demand) %> |
<%= link_to 'Back', demands_path %>
