<h>Welcome to Gift Support!</h>
<% if signed_in? %>
  <p><%= link_to "sign out", signout_path, method: 'delete' %></p>
<% else %>
  <p><%= link_to "sign in", new_session_path %></p>
  <p><%= link_to 'sign up', new_user_path %></p>
<% end %>
<p><%= link_to 'Help', help_path %></p>
<p><%= link_to 'About', about_path %></p>